@import "../../design/colors";

.inputGroup {
  margin: 0.8rem 0;

  label {
    display: block;
    font-size: 0.7rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  .inputWrapper {
    position: relative;
    display: flex;
    width: 100%;
    color: $input-text-color;
    border-bottom: 1px solid $border-color;

    .unit {
      flex: 0 1 5%;
    }

    .input {
      flex: 0 1 95%;
      padding: 0.4rem 0.2rem;
      border: none;
      outline: none;
    }

    .clearBtn {
      position: absolute;
      right: 0.2rem;
      bottom: 0.2rem;
      padding: 0;
      font-size: 0.6rem;
      font-weight: 600;
      color: $input-text-color;
      cursor: pointer;
      background-color: transparent;
      border: none;

      &:hover {
        color: #dc2626;
      }
    }
  }
}
