<div class="inputGroup">
  <label
    *ngIf="label"
    [for]="id"
  >
  {{ label }}
  </label>
  <div class=inputWrapper>
    <span
      *ngIf="unit && unitPlacement === 'start'"
      class="unit"
    >
      {{ unit }}
    </span>
    <input
      class="input"
      [type]="inputType"
      [name]="id"
      [id]="id"
      [placeholder]="placeholder"
      [readonly]="readOnly"
      [(value)]="value"
      (input)="handleTextInput($event.target.value)"
    />
    <button
      *ngIf="showClearBtn && value"
      type="button"
      class="clearBtn"
      (click)="handleTextInput('')"
      title="Clear"
    >
      ⨉
    </button>
    <span
      *ngIf="unit && unitPlacement === 'end'"
      class="unit"
    >
      {{ unit }}
    </span>
  </div>
</div>
