@import "../../design/colors";

.inputGroup {
  margin: 1rem 0;

  label {
    display: block;
    font-size: 0.7rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  .inputWrapper {
    display: flex;
    width: 100%;
    color: $input-text-color;
    border-bottom: 1px solid $border-color;

    .unit {
      flex: 0 1 5%;
    }

    .input {
      flex: 0 1 95%;
      padding: 0.4rem 0;
      border: none;
      outline: none;
    }
  }
}
