@import "../../design/colors";

.transferForm {
  display: flex;
  flex-flow: column nowrap;

  .submitBtn {
    align-self: flex-end;
    padding: 0.6rem 4rem;
    margin: 2rem 0 1rem 0;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    background-color: $orange;
    border: none;
    border-radius: 4px;

    &:hover {
      background-color: darken($orange, 25%);
    }
  }
}
