<app-panel title="Make a Transfer" icon="arrows2">
  <div class="transferForm">
    <app-input-text
      id="fromAccount"
      label="From Account"
      [readOnly]="true"
      value="Free Checking(4692) - $5824.76"
      >
    </app-input-text>
      <app-input-text
        id="toAccount"
        label="To Account"
        >
      </app-input-text>
        <app-input-text
          id="amount"
          label="Amount"
          >
        </app-input-text>

          <button class="submitBtn">
            Submit
          </button>

  </div>
</app-panel>

