<app-panel title="Make a Transfer" icon="arrows2">
  <div class="transferForm">
    <app-input-text
      id="fromAccount"
      label="From Account"
      [readOnly]="true"
      [value]="origin"
      >
    </app-input-text>
    <app-input-text
      id="toAccount"
      label="To Account"
      [(value)]="beneficiary"
    >
    </app-input-text>
    <app-input-text
      id="amountToTransfer"
      label="Amount"
      inputType="number"
      unit="$"
      unitPlacement="start"
      [(value)]="amount"
    >
    </app-input-text>
    <button
      type="button"
      class="submitBtn"
      (click)="sendTransfer()"
    >
      Submit
    </button>
  </div>
</app-panel>

