@import "../../design/colors";
@import "../../design/breakpoints";

.panel {
  background-color: white;

  .body {
    padding: 0 1rem;
  }

  .header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0.4rem;
    color: white;
    background-color: $teal;

    .icon {
      flex: 0 0 10%;
      max-width: 18px;
      height: auto;
      margin: 4px;
    }

    .title {
      flex: 1 0 90%;
      text-align: center;
    }
  }
}

@media (min-width: $md) {
  .panel {
    &.full {
      height: 100%;

      .body {
        height: calc(100% - 45px);
        overflow: auto;
      }
    }
  }
}
