name: Run tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set Node.js 10.x
        uses: actions/setup-node@master
        with:
          node-version: 10.x

      - name: Install dependencies
        working-directory: webapp
        run: |
          npm install

      - name: Running tests
        working-directory: webapp
        run: |
          npm run test:ci

      - name: Upload coverage
        working-directory: webapp
        run: |
          bash <(curl -s https://codecov.io/bash) -t ${secrets.CODECOV_TOKEN}
